<div layout="column">
  <form name="em.forms.manageEvent">
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Venue</label>
        <md-select ng-model="em.event.venue" ng-model-options="{trackBy: '$value._id' }">
          <md-option ng-value="venue" ng-repeat="venue in em.venues">{{venue.name}}</md-option>
        </md-select>
      </md-input-container>
      <md-datepicker ng-model="em.event.date" md-placeholder="Enter date"></md-datepicker>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Tournament Director</label>
        <md-select ng-model="em.event.td" ng-model-options="{trackBy: '$value._id'}" multiple>
          <md-option ng-value="td" ng-repeat="td in em.directors">{{td.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout="row" layout-align="end">
      <md-button class="md-raised md-default" ng-click="em.cancel()">Cancel</md-button>
      <md-button class="md-raised md-default" ng-click="em.resetVenue()" ng-show="em.new">Reset</md-button>
      <md-button class="md-raised md-primary" ng-click="em.save()" ng-disabled="em.event.$$saving">Save</md-button>
    </div>
  </form>
</div>
