<md-content layout="column">
  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Poker @ {{ev.event.venue.name}}</span>
        <span class="md-subhead">Hosted by
          <span ng-repeat="td in ev.event.td">
          {{($index + 1) == ev.event.td.length ? 'and/or ' : ''}}{{td.name}}{{($index + 1) < ev.event.td.length ? ', ' : ''}}
          </span>
        </span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>From here you can start your game or edit the event if you need to change TDs.</p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" ng-click="ev.editEvent(ev.event)">Edit Event</md-button>
    </md-card-actions>
  </md-card>
  <md-card class="rhp-card-xs" ng-repeat="game in ev.event.games">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Game #{{$index + 1}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>This game is {{game.completed ? 'finished' : 'in progress'}}.</p>
    </md-card-content>
    <md-card-actions layout="column">
      <md-button class="md-raised md-primary" ng-click="ev.viewGame(game)">View Game</md-button>
    </md-card-actions>
  </md-card>
  <md-card class="rhp-card-xs" ng-if="events.permissions.PLAY_GAME && (ev.event.games.length < ev.event.venue.numberOfGames || events.permissions.NO_GAME_LIMIT)">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Game #{{ev.event.games.length + 1}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="column">
      <md-button class="md-raised md-primary" ng-click="ev.newGame()">Start {{ev.event.games.length ? 'Another' : ''}} Game</md-button>
    </md-card-actions>
  </md-card>
</md-content>
