<md-content layout="column">
  <md-card>
    <md-card-title>
      <md-card-title-text layout="row" layout-align="center center">
        <span class="md-headline">Game @ {{gv.game.event.venue.name}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-align="center center">
        {{gv.game.event.date | date:'fullDate'}}
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" ui-sref="events.view({ id : gv.game.event._id })">View Event</md-button>
    </md-card-actions>
  </md-card>
  <div ng-if="games.permissions.PLAY_GAME">
    <md-content layout="column" ng-show="!gv.game.completed">
      <md-button class="md-raised md-accent" ui-sref="games.play({ id : gv.game._id })" ng-disabled="gv.game.players.length < 2">{{!gv.game.inProgress ? 'Start Game' : 'Resume Game'}}</md-button>
      <md-button class="md-raised md-primary" ng-show="!gv.game.finalTable" ui-sref="games.players.add({ gameId : gv.game._id })">Add Players</md-button>
    </md-content>
  </div>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Players</span>
      </md-card-title-text>
    </md-card-title>
    <md-divider></md-divider>
    <md-card-content ng-class="{ 'rhp-card-list': gv.game.players.length }">
      <md-list flex>
        <div ng-show="!gv.game.players.length">
          There are no players for this game... yet.
        </div>
        <md-list-item md-theme="playerOut" class="md-2-line" ng-repeat="player in gv.game.players | orderBy: ['-score', '-cashedOutTime']"
          ui-sref="players.view({ id : player.player._id })">
          <md-button ng-if="player.rank" class="md-fab rhp-rank-fab md-accent" aria-label="player select" ng-click="gp.selectPlayer(player)">
            <div ng-if="player.rank <= 8">{{player.rank}}</div>
            <md-icon ng-if="player.rank >= 9">remove</md-icon>
          </md-button>
          <div ng-if="!player.rank" class="rhp-rank-fab-placeholder">
          </div>
          <div class="md-list-item-text" layout="column">
            <h3 layout="row" layout-align="center center">
                <span>{{player.player.name}}</span>
            </h3>
          </div>
          <div class="rhp-rank-fab-placeholder">
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</md-content>
