<div layout="column">
  <md-card>
    <md-card-content layout="row" layout-align="end" ng-show="gp.game.$$error">
      <p>
        {{gp.game.$$error.message}}. There was an error saving this game.
        <span ng-show="gp.game.$$error.code === 'NO_USER_FOUND'">Click <a class="md-primary" ui-sref="login">here</a> to login.</span>
      </p>
    </md-card-content>
  </md-card>
  <md-list flex>
    <md-virtual-repeat-container virtual-repeat-dynamic-height include-siblings="true" flex>
        <md-list-item class="md-2-line" md-virtual-repeat="player in gp.game.players | orderBy: ['-score', '-cashedOutTime', 'rank']" ng-click="gp.selectPlayer(player)">
          <div ng-if="!player.selected">
            <rhp-trophy ng-if="player.rank <= 8" class="md-avatar" rank="$index+1" after></rhp-trophy>
            <md-icon ng-if="!player.rank" class="md-avatar">mood</md-icon>
            <md-icon ng-if="player.rank >= 9 " class="md-avatar">mood_bad</md-icon>
          </div>
          <md-button class="md-fab" ng-if="player.selected && !player.rank" ng-click="gp.playerOut(player); player.selected = false">
            <md-icon>
              mood_bad
            </md-icon>
          </md-button>
          <md-button class="md-fab" ng-if="player.selected && player.rank" ng-click="gp.playerBackIn(player); player.selected = false">
            <md-icon>
              mood
            </md-icon>
          </md-button>
          <div class="md-list-item-text" layout="column">
            <h3 layout="row" layout-align="center center">
                <span>{{player.player.name}} {{foo}}</span>
            </h3>
          </div>
          <div class="md-avatar">
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-virtual-repeat-container>
  </md-list>
  <div layout="column">
    <md-button ng-if="!gp.game.finalize && !gp.game.completed" ng-disabled="gp.game.finalTable && !gp.isFinalizeable()" class="md-raised md-warn" ng-click="gp.game.finalTable ? gp.finalizeGame() : gp.finalTable()">
      {{ gp.game.finalTable ? 'Finalize Game' : 'Final Table' }}
    </md-button>
    <md-button ng-if="gp.game.finalize" class="md-raised md-warn" ng-click="gp.completeGame();">
      {{ 'Complete Game' }}
    </md-button>
  </div>
  <div layout="column">
    <md-button class="md-raised md-default" ui-sref="games.view({ id : gp.game._id })" >
      Return to Game Manager
    </md-button>
  </div>
</div>
