<md-content layout="column" flex>
  <div class="rhp-list-actions" layout="row" layout-align="start" flex="15">
    <div layout="row" flex>
      <md-checkbox ng-model="gp.showAllPlayers" ng-change="gp.getPlayers()" ng-if="!gp.game.inProgress">Show All Players</md-checkbox>
    </div>
    <div layout="row" layout-align="end" flex>
      <md-button class="md-raised md-primary" ui-sref="games.view({ id : gp.game._id })">Back to Game</md-button>
    </div>
  </div>
  <md-list class="md-dense" ng-class="{ 'rhp-dense-list':gp.mdMedia('xs') }" layout="row" flex="85">
    <md-virtual-repeat-container id="vertical-container" flex>
      <md-list-item md-virtual-repeat="player in gp.players | orderBy: 'name'">
        <md-checkbox ng-checked="gp.isSelected(player)" ng-click="gp.toggleSelection(player)"></md-checkbox>
        <p>{{player.name}}</p>
      </md-list-item>
    </md-virtual-repeat-container>
  </md-list>
</md-content>
<md-content layout="row" flex>
  <md-input-container class="rhp-add-player" flex-gt-xs="80" flex-xs="65">
    <label>Player Name</label>
    <input required ng-model="player.name" name="name" />
  </md-input-container>
  <div>
    <md-button type="submit" layout="column" flex class="md-raised md-primary" ng-click="gp.createPlayer(player);" ng-disabled="!player.name">Create Player</md-button>
  </div>
</md-content>
<div layout="row" layout-align="end" ng-show="player.$$error">
  <p>
    {{player.$$error.message}}. There was an error adding player.
    <span ng-show="player.$$error.code === 'NO_USER_FOUND'">Click <a class="md-primary" ui-sref="login">here</a> to login.</span>
  </p>
</div>
<md-content layout="column" layout-align="end" flex>
  <md-button class="md-raised" ng-click="gp.addPlayersToGame()" ng-disabled="gp.game.$$saving">Add Players</md-button>
  <div layout="row" layout-align="end" ng-show="gp.game.$$error">
    <p>
      {{gp.game.$$error.message}}. There was an error adding players to the game.
      <span ng-show="gp.game.$$error.code === 'NO_USER_FOUND'">Click <a class="md-primary" ui-sref="login">here</a> to login.</span>
    </p>
  </div>
</md-content>
