<md-content layout="column">
  <md-card>
    <md-card-title>
      <md-card-title-text layout="row" layout-align="center center">
        <span class="md-headline">Game @ {{gv.game.event.venue.name}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-align="center center">
        {{gv.game.event.date | date:'fullDate'}}
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" ui-sref="events.view({ id : gv.game.event._id })">Back to Event</md-button>
    </md-card-actions>
  </md-card>
  <div ng-if="games.permissions.PLAY_GAME">
    <md-content layout="column" ng-show="!gv.game.completed">
      <md-button class="md-raised md-accent" ui-sref="games.play({ id : gv.game._id })" ng-disabled="gv.game.players.length < 2">{{!gv.game.inProgress ? 'Start Game' : 'Resume Game'}}</md-button>
      <md-button class="md-raised md-primary" ng-show="!gv.game.finalTable" ui-sref="games.players.add({ gameId : gv.game._id })">Add Players</md-button>
    </md-content>
  </div>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Players</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div ng-show="!gv.game.players.length">
        There are no players for this game... yet.
      </div>
      <md-card ui-sref="players.view({ id: player.player._id})" ng-repeat="player in gv.game.players | orderBy: ['-score', '-cashedOutTime']">
        <md-card-title>
          <div layout="row" class="stats-player-row" layout-align="center center">
            <div layout="row" flex="10" layout-align="start center">
              <span ng-show="player.rank <= 8" class="player-row"><i class="fa fa-hashtag"></i>   {{player.rank}}</span>
            </div>
            <div layout="row" flex layout-align="center center">
              {{player.player.name}}
            </div>
          </div>
        </md-card-title>
      </md-card>
    </md-card-content>
  </md-card>

</md-content>
