<div layout="column">
  <md-card>
    <md-card-content layout="row" layout-align="end" ng-show="gp.game.$$error">
      <p>
        {{gp.game.$$error.message}}. There was an error saving this game.
        <span ng-show="gp.game.$$error.code === 'NO_USER_FOUND'">Click <a class="md-primary" ui-sref="login">here</a> to login.</span>
      </p>
    </md-card-content>
  </md-card>
  <md-list class="md-dense" layout="row" flex>
    <md-virtual-repeat-container id="rhp-active-player-container" flex>
      <md-list-item md-whiteframe="3" layout="column" class="rhp-active-player" md-virtual-repeat="attendee in gp.game.players | orderBy: ['-score', '-cashedOutTime', 'rank']" layout-align="center center" >
        <div ng-click="!gp.game.finalize ? touched=!touched : null"layout="row" class="rhp-list-row" layout-align="center center">
          <div ng-click="gp.game.finalize ? changeRank=!changeRank : null" ng-show="!changeRank" layout="row" flex="10" layout-align="center center">
            <span ng-show="attendee.rank <= 8"> <i class="fa fa-hashtag"></i>   {{attendee.rank}}</span>
            <span ng-show="gp.game.finalize && attendee.rank > 8"><i class="fa fa-hashtag"></i></span>
          </div>
          <div layout="row" flex="10" layout-align="center center" ng-show="changeRank">
            <md-input-container>
              <input ng-focus="attendee.rank=null" ng-change="gp.checkScore(attendee); changeRank=false;" ng-blur="gp.noBlankAllowed(attendee); changeRank=false;" aria-label="attendee-rank" type="number" ng-model="attendee.rank">
            </md-input-container>
          </div>
          <div layout="row" flex layout-align="center center">
              {{attendee.player.name | uppercase}}
          </div>
          <div layout="row" layout-align="center center" flex="10">
              {{attendee.score}}
          </div>
        </div>
        <div layout="row" layout-align="end center" ng-if="touched && !gp.game.finalize && !gp.game.completed">
          <div layout-align="start center">
            <md-button class="md-raised md-warn" ng-click="gp.playerOut(attendee); touched = !touched; $parent.touched = !$parent.touched;" ng-disabled="attendee.score">
              OUT
            </md-button>
            <md-button class="md-raised md-warn" ng-click="gp.playerBackIn(attendee); touched = !touched; $parent.touched = !$parent.touched;" ng-if="attendee.score">
              UNDO
            </md-button>
          </div>
        </div>
      </md-list-item>
    </md-virtual-repeat-container>
  </md-list>
</div>
<div layout="column">
  <md-button ng-if="!gp.game.finalize && !gp.game.completed" ng-disabled="gp.game.finalTable && !gp.isFinalizeable()" class="md-raised md-warn" ng-click="gp.game.finalTable ? gp.finalizeGame() : gp.finalTable()">
    {{ gp.game.finalTable ? 'Finalize Game' : 'Final Table' }}
  </md-button>
  <md-button ng-if="gp.game.finalize" class="md-raised md-warn" ng-click="gp.completeGame();">
    {{ 'Complete Game' }}
  </md-button>
</div>
<div layout="column">
  <md-button class="md-raised md-default" ui-sref="games.view({ id : gp.game._id })" >
    Return to Game Manager
  </md-button>
</div>
