<md-content layout="column" flex>
  <div class="rhp-list-actions" layout="row" layout-align="start" flex="15">
    <div layout="row" flex>
      <!-- TODO: RHP_88 add in functionality to show players that are already cashed out -->
      <md-checkbox ng-model="vm.showAllPlayers" ng-change="vm.getPlayers()" ng-if="!vm.game.inProgress">Show All Players</md-checkbox>
    </div>
    <div layout="row" layout-align="end" flex>
      <md-button class="md-raised md-primary" ui-sref="games.play({ id : vm.game._id })">Back to Game</md-button>
    </div>
  </div>
  <md-list class="md-dense" ng-class="{ 'rhp-dense-list':vm.mdMedia('xs') }" layout="row" flex="85">
    <md-virtual-repeat-container id="vertical-container" flex>
      <md-list-item md-virtual-repeat="player in vm.game.players | filter: { cashedOutTime: '!' } ">
        <md-checkbox
          ng-model="player.goingToFinalTable" ng-click="vm.toggleSelection(player)"
          ng-false-value="undefined" ng-disabled="vm.selectionsComplete() && !player.goingToFinalTable"></md-checkbox>
        <p>{{player.player.name}}</p>
      </md-list-item>
    </md-virtual-repeat-container>
  </md-list>
</md-content>
<md-content layout="column" layout-align="end" flex>
  <md-button class="md-raised md-primary" ng-click="vm.setFinalTablePlayers()" ng-disabled="!vm.selectionsComplete()">Choose These Players</md-button>
</md-content>
