<div>
  <form name="lg.forms.loginForm">
    <md-content>
      <div layout-gt-xs="row">
        <div ng-class="{ 'rhp-messages-active' : lg.forms.loginForm.$dirty }" ng-messages="lg.forms.loginForm.$error" ng-if="lg.forms.loginForm.username.$dirty || lg.forms.loginForm.password.$dirty">
          <div ng-message="wrongCreds">
            Username or password is incorrect.
          </div>
        </div>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>User Name</label>
          <input ng-model="lg.user.username" required name="username" ng-change="lg.reset(lg.forms.loginForm.username, 'wrongCreds')">
          <div ng-class="{ 'rhp-messages-active' : lg.forms.loginForm.username.$dirty }" ng-messages="lg.forms.loginForm.username.$error" ng-if="lg.forms.loginForm.username.$dirty">
            <div ng-message="required">
              You must provide a Username.
            </div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Password</label>
          <input type="password" ng-model="lg.user.password" required name="password" ng-change="lg.reset(lg.forms.loginForm.password, 'wrongCreds')">
          <div ng-class="{ 'rhp-messages-active' : lg.forms.loginForm.password.$dirty }" ng-messages="lg.forms.loginForm.password.$error" ng-if="lg.forms.loginForm.password.$dirty">
            <div ng-message="required">
              You must provide a password.
            </div>
          </div>
        </md-input-container>
      </div>
      <div layout="row" layout-align="center">
        <md-button class="md-raised md-primary" ng-click="lg.login();">Log In</md-button>
        <md-button class="md-raised md-default" ng-click="lg.cancel();">Cancel</md-button>
        <md-button class="md-raised md-default" ui-sref="register">Register</md-button>
      </div>
    </md-content>
  </form>
</div>
