<div>
  <md-content>
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>User Name</label>
        <input ng-model="lg.user.username">
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Password</label>
        <input type="password" ng-model="lg.user.password">
      </md-input-container>
    </div>
    <div layout="row" layout-align="center">
      <md-button class="md-raised md-default" ng-click="lg.login();">Log In</md-button>
      <md-button class="md-raised md-default" ng-click="lg.cancel();">Cancel</md-button>
    </div>
  </md-content>
</div>
