<div>
  <md-content>
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>User Name</label>
        <input ng-model="vm.user.name">
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Password</label>
        <input ng-model="us.user.password">
      </md-input-container>
    </div>
    <div layout="row" layout-align="center">
      <md-button class="md-raised md-default">Log In</md-button>
      <md-button class="md-raised md-default">Cancel</md-button>
    </div>
  </md-content>
</div>
