<div class="md-headline rhp-headline-center" ng-show="pv.player.name">
  {{pv.player.name}}'s Games for
  <span ng-show="!pv.stats.season && !pv.stats.allTime">Current Season</span>
  <span ng-show="pv.stats.season">Season {{pv.stats.season.seasonNumber}}</span>
  <span ng-show="pv.stats.allTime">All Time</span>
</div>
<md-list flex>
  <md-virtual-repeat-container id="rhp-virtual-repeat-container">
    <md-list-item class="md-2-line" md-virtual-repeat="game in pv.player.games | orderBy : '-gameStartTime'" ui-sref="games.view({ id : game._id })">
      <span class="md-avatar">
        <i class="fa fa-hashtag"></i>   {{game.rank}}
      </span>
      <div class="md-list-item-text" layout="column">
        <h3 layout="row" layout-align="start center">
          <span flex>{{game.event.venue.name}}</span>
          <span flex layout="column" layout-align="center end">
            <span></span>
          </span>
        </h3>
        <h4 layout="row" layout-align="start center">
          <span flex>
            <span>{{game.gameStartTime | date: 'shortDate'}}</span>
          </span>
          <span flex layout="column" layout-align="center end">
            <span></span>
          </span>
        </h4>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-virtual-repeat-container>
</md-list>
