<div layout="column">
  <md-toolbar class="rhp-list-search">
    <div class="md-toolbar-tools">
      <md-input-container class="md-block" flex-gt-sm>
        <label><span class="fa fa-search"></span> Player search</label>
        <input ng-model="listSearch" name="name" />
      </md-input-container>
    </div>
  </md-toolbar>
  <md-list flex>
    <md-virtual-repeat-container id="rhp-virtual-repeat-container">
      <md-list-item class="md-3-line" md-virtual-repeat="player in pl.players | filter: { name : listSearch } | orderBy: 'name'"
        ui-sref="players.view({ id : player._id, season : vm.seasonNumber })">
        <div class="md-list-item-text" layout="column">
          <h3 layout="row" layout-align="start center">
            <span flex>{{player.name}}</span>
          </h3>
          <h4 layout="row" layout-align="start center">
            <span flex>
              <rhp-trophy-list ranks="player.ranks"></rhp-trophy-list>
            </span>
            <span flex layout="column" layout-align="center end">
              <span>Total Points:  {{player.totalPoints || 0}}</span>
            </span>
          </h4>
          <p layout="row" layout-align="start center">
            <span flex ng-show="player.ranks.average">Average Rank: {{player.ranks.average | number:0}}</span>
            <span flex layout="column" layout-align="center end">
              <span>Games Played: {{player.gamesPlayed || 0}}</span>
            </span>
          </p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-virtual-repeat-container>
  </md-list>
</div>
<md-button class="md-fab md-fab-bottom-right md-primary" ng-click="pl.newPlayer()" ng-if="players.permissions.ADD_PLAYER">
  <md-icon md-font-set="material-icons">add</md-icon>
</md-button>
