<div layout="column" class="md-inline-form">
  <form name="vm.forms.manageVenue">
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Name</label>
        <input required ng-model="vm.venue.name" name="name">
        <div ng-class="{ 'rhp-messages-active' : vm.forms.manageVenue.name.$dirty }"
          ng-messages="vm.forms.manageVenue.name.$error" ng-if="vm.forms.manageVenue.name.$dirty">
          <div ng-message="required">
            You must provide a venue name.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Day</label>
        <md-select required ng-model="vm.venue.day" name="day">
          <md-option ng-value="day" ng-repeat="day in vm.days">{{day}}</md-option>
        </md-select>
        <div ng-class="{ 'rhp-messages-active' : vm.forms.manageVenue.day.$dirty }"
          ng-messages="vm.forms.manageVenue.day.$error" ng-if="vm.forms.manageVenue.day.$dirty">
          <div ng-message="required">
            You must provide a day the venue usually has games.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <p>Number of Games</p>
        <md-radio-group ng-model="vm.venue.numberOfGames">
          <md-radio-button value="1">1</md-radio-button>
          <md-radio-button value="2">2</md-radio-button>
          <md-radio-button value="3">3</md-radio-button>
        </md-radio-group>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <p>Time</p>
        <md-radio-group ng-model="vm.venue.time">
          <md-radio-button value="7:00PM">7:00PM</md-radio-button>
          <md-radio-button value="7:30PM">7:30PM</md-radio-button>
        </md-radio-group>
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Tournament Director</label>
        <md-select required ng-model="vm.venue.td" ng-model-options="{trackBy: '$value._id'}" multiple name="td" ng-change="vm.reset(vm.forms.manageVenue.td, 'required')">
          <md-option ng-value="td" ng-repeat="td in vm.directors">{{td.name}}</md-option>
        </md-select>
        <div ng-class="{ 'rhp-messages-active' : vm.forms.manageVenue.td.$dirty }"
          ng-messages="vm.forms.manageVenue.td.$error" ng-if="vm.forms.manageVenue.td.$dirty">
          <div ng-message="required">
            You must select a TD
          </div>
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="end">
      <md-button class="md-raised md-default" ng-click="vm.cancel()">Cancel</md-button>
      <md-button class="md-raised md-default" ng-click="vm.resetVenue()" ng-show="vm.new">Reset</md-button>
      <md-button class="md-raised md-primary" ng-click="vm.save()" ng-disabled="vm.forms.manageVenue.$invalid || vm.venue.$$saving">Save</md-button>
    </div>
  </form>
</div>
