<md-content layout="column">
  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{vv.venue.name}}</span>
          <span class="md-subhead">{{vv.venue.td.name}}</span>
          <span class="md-subhead">{{vv.venue.day}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>Usually Hosted on {{vv.venue.day}} by {{vv.venue.td.name}}.</p>
        <p>Events at this venue usually have {{vv.venue.numberOfGames}} games.</p>
      </md-card-content>
    </md-card>
</md-content>
