<!doctype html>
<html ng-app="runningHeartsPoker">
<head>
<% include head %>
</head>
<body ng-controller="rhpSuperAdminCtrl">

<h1>Add or Modify Venues</h1>

<div class="venuelist">
	<div ng-repeat="venue in venues">
		<div class="row">	
			<div class="col-xs-3 venueitem">{{venue.name}}</div>
			<div class="col-xs-3 venueitem">{{venue.day}}</div>
			<div class="col-xs-3 venueitem">{{venue.td}}</div>
			<div class="col-xs-3 venueitem"><button class="btn btn-danger btn-xs" ng-click="$parent.show = true; loadValues(venue._id);">Edit</button></div>
	  </div>
	</div>
</div>

<div ng-if="show" class="venuemodify">
	<div class="form-group">
		<input type="text" class="form-control input" placeholder="Venue Name" ng-model="editData.name">
  </div>
	<div class="form-group">	
		<input type="text" class="form-control input" placeholder="Venue Day" ng-model="editData.day">
	</div>
	<div class="form-group">
	  <select class="form-control" ng-model="editData.td" >
	  	<option value="" disabled selected>Venue TD</option>
		<option ng-repeat="td in tds" value="{{td.local.username}}" >{{td.local.username}}</option>
	  </select>
	</div>
	<button type="submit" class="btn btn-danger btn-sm" ng-click="modifyVenue(editData.venueId);">Modify Venue</button>
</div>


<div class="venueinput">
	<div class="form-group">
		<input type="text" class="form-control input" placeholder="Venue Name" ng-model="formData.name">
  </div>
	<div class="form-group">	
		<input type="text" class="form-control input" placeholder="Venue Day" ng-model="formData.day">
	</div>
	<div class="form-group">
	<select class="form-control" ng-model="formData.td">
	  	<option value="" disabled selected>Venue TD</option>
		<option ng-repeat="td in tds" value="{{td.local.username}}" >{{td.local.username}}</option>
	</select>
	</div>
	<button type="submit" class="btn btn-danger btn-sm" ng-click="createVenue()">Add Venue</button>
</div>







</body>
</html>
