<!doctype html>
<html ng-app="runningHeartsPoker">
<head>
<% include head %>
</head>
<body ng-controller="rhpPlayerCtrl">

<h1>Add or Modify Players</h1>

<div class="playerInput">
	<div class="form-group">
		<input type="text" class="form-control input" placeholder="Player Name" ng-model="formData.playerName">
    </div>

	<button type="submit" class="btn btn-danger btn-sm" ng-click="addPlayer()">Add Player</button>
</div>

<h1>Make a Player a TD</h1>
<div class="selectPlayer">
	<select class="form-control" ng-model="formdata.tdSelect">
		<option ng-repeat="player in players" value="{{player.local.username}}" >{{player.local.username}}</option>
	</select>
	<button type="submit" class="btn btn-danger btn-sm" ng-click="makeTd()">Make This Player a TD</button>
</div>


</body>
</html>
