<!doctype html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner-background"></div>
	  <div class="site-wrapper-inner" id="home-content">
	    <div id="home-text-wrapper">
	      <h1 id="cover-heading"> Welcome, <%= name %> </h1>
	      <div id="home-buttons">
			    <div class="col-xs-12 col-sm-4">
			     	<a href="/addremoveplayers" class="btn btn-danger ">Add or Remove Players</a>
			    </div>
			    <div class="col-xs-12 col-sm-4">
			     	<a href="/assignstandings" class="btn btn-danger">Start Game</a>
			    </div>
			    <div class="col-xs-12 col-sm-4">
			     	<a href="/logout" class="btn btn-danger">Logout</a>
			    </div>
				</div>
    	</div>
  	</div>
	</div>

	</body>
</html>