<!DOCTYPE html>
<html>

<head>

  <base href="/">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
  <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="bower_components/angular-messages/angular-messages.js"></script>
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>

  <script type="text/javascript" src="javascripts/app.js"></script>

  <script type="text/javascript" src="javascripts/constants/entities.js"></script>

  <script type="text/javascript" src="javascripts/states/main.js"></script>
  <script type="text/javascript" src="javascripts/states/auth.js"></script>
  <script type="text/javascript" src="javascripts/states/events.js"></script>
  <script type="text/javascript" src="javascripts/states/venues.js"></script>
  <script type="text/javascript" src="javascripts/states/players.js"></script>
  <script type="text/javascript" src="javascripts/states/seasons.js"></script>
  <script type="text/javascript" src="javascripts/states/stats.js"></script>
  <script type="text/javascript" src="javascripts/states/games.js"></script>

  <script type="text/javascript" src="javascripts/providers/authProvider.js"></script>

  <script type="text/javascript" src="javascripts/util/arrayUtil.js"></script>

  <script type="text/javascript" src="javascripts/filters/venue/list.js"></script>

  <script type="text/javascript" src="javascripts/controllers/homeCtrl.js"></script>
  <script type="text/javascript" src="javascripts/controllers/loginCtrl.js"></script>
  <script type="text/javascript" src="javascripts/controllers/registerCtrl.js"></script>


  <script type="text/javascript" src="javascripts/controllers/players.js"></script>
  <script type="text/javascript" src="javascripts/controllers/players.list.js"></script>
  <script type="text/javascript" src="javascripts/controllers/players.manage.js"></script>
  <script type="text/javascript" src="javascripts/controllers/players.view.js"></script>

  <script type="text/javascript" src="javascripts/controllers/events.js"></script>
  <script type="text/javascript" src="javascripts/controllers/events.list.js"></script>
  <script type="text/javascript" src="javascripts/controllers/events.manage.js"></script>
  <script type="text/javascript" src="javascripts/controllers/events.view.js"></script>

  <script type="text/javascript" src="javascripts/controllers/games.js"></script>
  <script type="text/javascript" src="javascripts/controllers/games.play.js"></script>
  <script type="text/javascript" src="javascripts/controllers/games.view.js"></script>
  <script type="text/javascript" src="javascripts/controllers/games.players.js"></script>
  <script type="text/javascript" src="javascripts/controllers/games.ft.js"></script>

  <script type="text/javascript" src="javascripts/controllers/venues.js"></script>
  <script type="text/javascript" src="javascripts/controllers/venues.list.js"></script>
  <script type="text/javascript" src="javascripts/controllers/venues.manage.js"></script>
  <script type="text/javascript" src="javascripts/controllers/venues.view.js"></script>

  <script type="text/javascript" src="javascripts/controllers/stats.js"></script>
  <script type="text/javascript" src="javascripts/controllers/stats.season.js"></script>

  <script type="text/javascript" src="javascripts/controllers/seasons.js"></script>
  <script type="text/javascript" src="javascripts/controllers/seasons.view.js"></script>

  <script type="text/javascript" src="javascripts/services/errorService.js"></script>
  <script type="text/javascript" src="javascripts/services/historyService.js"></script>
  <script type="text/javascript" src="javascripts/services/authService.js"></script>
  <script type="text/javascript" src="javascripts/services/authApiService.js"></script>
  <script type="text/javascript" src="javascripts/services/venuesService.js"></script>
  <script type="text/javascript" src="javascripts/services/usersService.js"></script>
  <script type="text/javascript" src="javascripts/services/playersService.js"></script>
  <script type="text/javascript" src="javascripts/services/eventsService.js"></script>
  <script type="text/javascript" src="javascripts/services/gamesService.js"></script>
  <script type="text/javascript" src="javascripts/services/statsService.js"></script>
  <script type="text/javascript" src="javascripts/services/seasonsService.js"></script>
  <script type="text/javascript" src="javascripts/services/permissionsService.js"></script>
  <script type="text/javascript" src="javascripts/services/dialogService.js"></script>
  <script type="text/javascript" src="javascripts/services/formService.js"></script>
  <script type="text/javascript" src="javascripts/services/navService.js"></script>
  <script type="text/javascript" src="javascripts/services/entityService.js"></script>
  <script type="text/javascript" src="javascripts/services/stateService.js"></script>

  <script type="text/javascript" src="javascripts/directives/passwordMatch.js"></script>
  <script type="text/javascript" src="javascripts/directives/tabDirective.js"></script>
  <script type="text/javascript" src="javascripts/directives/nameList.js"></script>
  <script type="text/javascript" src="javascripts/directives/listDirective.js"></script>
  <script type="text/javascript" src="javascripts/directives/sideNav.js"></script>
  <script type="text/javascript" src="javascripts/directives/trophy.js"></script>
  <script type="text/javascript" src="javascripts/directives/trophyList.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto|Noto+Sans|Roboto|Bitter|Bree+Serif|Droid+Sans|Libre+Baskerville|Montserrat|Orbitron|Oswald|Rubik"
    rel="stylesheet">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />

  <link rel="stylesheet" href="stylesheets/main.css" />

  <link rel="stylesheet" href="stylesheets/directives/trophy.css" />

</head>

<body ng-app="runningHeartsApp" ng-cloak layout="column" ui-view>
</body>

</html>
