<!DOCTYPE html>
<html>
  <head>

    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="vendor.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Bree+Serif|Droid+Sans|Libre+Baskerville|Montserrat|Orbitron|Oswald|Rubik" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/main.css" />

  </head>
  <body ng-app="runningHeartsApp" ng-cloak layout="column" ui-view>
  </body>
</html>
