<!DOCTYPE html>
<html>

<head>

  <base href="/">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript" src="dist/vendor.min.js"></script>

  <script type="text/javascript" src="dist/running-hearts-poker.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto|Noto+Sans|Roboto" rel="stylesheet">

  <link rel="stylesheet" href="dist/vendor.min.css">

  <link rel="stylesheet" href="dist/running-hearts-poker.min.css">

</head>

<body ng-app="runningHeartsApp" ng-cloak layout="column" ui-view>
</body>

</html>
