<html>
  <head>
    <base href="/">
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="bower_components/angular-messages/angular-messages.js"></script>

    <script type="text/javascript" src="javascripts/app.js"></script>
    <script type="text/javascript" src="javascripts/controllers/homeCtrl.js"></script>
    <script type="text/javascript" src="javascripts/controllers/playersCtrl.js"></script>
    <script type="text/javascript" src="javascripts/controllers/eventsCtrl.js"></script>
    <script type="text/javascript" src="javascripts/controllers/venuesCtrl.js"></script> 
    <script type="text/javascript" src="javascripts/directives/tabDirective.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="stylesheets/main.css" />
  </head>
  <body ng-app="runningHeartsApp" ng-cloak layout="column" ui-view>
  </body>
</html>