/* main.css */
html, body {
  overflow-y: auto;
  min-height: 100%;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size:14px;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

#appContainer {
  height: 100%;
}

#rhp-virtual-repeat-container {
  height: 95vh;
}

.rhp-tab-content {
  padding-left: 10px;
  padding-right: 10px;
}

.rhp-tab-content-xs {
}

.rhp-toolbar-xs {
  min-height: 40px;
}

.rhp-sidenav {
  position: fixed
}

.rhp-dense-list {
  padding: 3px 0px;
}

.rhp-search-input {
  padding: 0;
  margin: 0;
}

md-card-content.rhp-card-list {
  padding: 0;
}

md-card-content.rhp-card-list md-list {
  padding: 0;
}

.rhp-dense-list md-list-item,
.rhp-dense-list md-list-item .md-list-item-inner {
  min-height: 24px;
}

.rhp-dense-list md-list-item .md-list-item-inner > md-checkbox {
  margin-top: 12px;
  margin-bottom: 12px;
}

.rhp-dense-list md-list-item.md-3-line .md-list-item-text p {
  font-size: 12px;
}

.rhp-dense-list md-list-item.md-3-line,
.rhp-dense-list md-list-item.md-3-line > .md-no-style {
  min-height: 0;
}

.rhp-list-actions {
  padding: 0px 16px;
}

.rhp-list-actions md-checkbox {
    margin-left: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.rhp-list-actions md-checkbox .md-label {
  padding: 8px 0px;
  font-size: 12px;
}

.stats-player-row {
  /*font-family: 'Droid Sans', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Rubik', sans-serif;*/
  /*font-family: 'Oswald', sans-serif;*/
  /*font-family: 'Libre Baskerville', serif;*/
  font-family: 'Bitter', serif;
  /*font-family: 'Bree Serif', serif;*/
  /*font-family: 'Orbitron', sans-serif;*/
  font-size: 2em;
  min-height: 32px;
  width: 100%;
}

.player-row {
  display:flex
}

.season-row {
  font-family: 'Bitter', serif;
  font-size: 1em;
  min-height: 24px;
  width: 100%;
}

.rhp-list-row {
  min-height: 24px;
  width: 100%;
}

.rhp-headline-center {
  font-family: 'Bitter', serif;
  text-align: center;
}

md-ink-bar {
  height: 6px;
}

#vertical-container {
  height: 60vh;
}

#rhp-active-player-container {
  height: 74vh;
}

#rhp-sidenav-list {
  height: 85vh;
}

.rhp-add-player {
  margin-bottom: 0;
}

.rhp-active-player md-input-container {
  margin: 0;
}

.rhp-active-player md-input-container .md-errors-spacer {
  min-height: 0;
}

.rhp-card-xs md-card-title {
  padding: 4px 16px;
}

.rhp-card-xs md-card-content {
  padding-bottom: 4px;
}

.rhp-player-heading {
  min-height: 48px;
}

.rhp-messages-active .md-input-message-animation:not(.ng-animate) {
  opacity: 1;
  margin-top: 0;
}

md-toolbar.rhp-list-search {
  height: 40px;
}

.rhp-list-search md-input-container {
  width: 100%;
  margin-bottom: 0px;
  margin-top: 10px;
}

.rhp-list-search md-input-container.md-input-focused .md-input {
  border-color: white;
}

.rhp-list-search md-input-container label {
  color: white;
}

.rhp-list-search md-input-container input {
  border-color: white;
  color: white;
}

md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button):first-of-type,
md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button):last-of-type {
  margin: 0 4px;
}
