/* css styling for rhpTrophy directive @ directives/trophy.js */

.rhp-trophy.md-avatar {
  font-size: 20px;
}

.rhp-trophy.md-avatar span:not(.rhp-trophy-rank-sm):not(.rhp-trophy-rank-xs) .fa-hashtag {
  font-size: 18px;
  color: #3f3f3f;
}

.rhp-trophy.md-avatar .rhp-trophy-rank {
  font-size: 20px;
}

.rhp-trophy.md-avatar .rhp-trophy-rank-sm {
  font-size: 16px;
}

.rhp-trophy.md-avatar .rhp-trophy-rank-xs {
  font-size: 12px;
}

.trophy-gold {
  color: gold;
}

.trophy-silver {
  color: silver;
}

.trophy-bronze {
  color: #cd7f32;
}
